<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body style="background-color: black;"  >
    <div id="pcss">
        <img style="height: 500px; width: 500px;" src="generate_image.png" alt="">

    </div>
    <div id="pcss">
        <button type="submit" style="padding: auto; background: -webkit-linear-gradient(#00d9ff, #67ff88);
      height: 85px;width: 250px;
      font-family: 'Times New Roman', Times, serif;
      font-size:35px;border-radius: 15px;"><a  style="color: black;text-decoration: none;" href="http://localhost:1000/">REGENERATE</a></button>

    </div>
        
        
    
   
</body>
</html>