<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  
  <title>AI image Generator </title>
</head>

<body style="background-color:black;height: 10000px;">
  <div  id="pcss" >
    <img  style="height:200px;width:200px;"src="logo.png" alt="">
    <h1 style="background: -webkit-linear-gradient(#00d9ff, #67ff88);-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;font-size:100px;">AI IMAGE GENERATOR</h1>
    <form action="/generate-image" >
      <input  name="prompt" id="prompt" placeholder="CREATE WHAT YOU CAN IMAGINE" 
         style="background: -webkit-linear-gradient(#00d9ff, #67ff88);
         -webkit-background-clip: text;-webkit-text-fill-color: transparent;
         height: 75px;width: 700px;
         font-family: 'Times New Roman', Times, serif;
         font-size:35px;text-align: center;
         border-color: #00d9ff;border-radius: 15px;"
      >
      <button type="submit" style="background: -webkit-linear-gradient(#00d9ff, #67ff88);
      height: 85px;width: 250px;
      font-family: 'Times New Roman', Times, serif;
      font-size:35px;border-radius: 15px;"> GENERATE </button>

    </form>
</div>
  
</body>

</html>
 
  
